<%= render "header" %>

<%# Our blog has %>
<%# <%= Article.public_count %>
<%# articles and counting! %>

<%# <div class="blog-article-container">
<h2 class="blog-container">Series 1</h2> <br>
</div> %>

<div class="blog-containter">
  <div class="blog-list">
    <h2 class="">Lorde</h2> <br> <hr class="article-hr">
    <ul>
      <% @articles.each do |article| %>
        <% unless article.archived? %>
          <li>
            <%= link_to article.name, article %>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div class="link-to-new-blog">
  <%= link_to 'New Blog', new_article_path %>
</div>
